<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}

    // 1. Set Advanced Consent Mode Defaults
    // This allows cookieless pings to fire immediately upon landing
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied',
        'wait_for_update': 500
    });

    gtag('js', new Date());
    gtag('config', '{{ .Site.Params.googleAnalytics }}');
</script>