<div id="cookie-notice" style="display: none; position: fixed; bottom: 0; left: 0; width: 100%; background: var(--theme); border-top: 1px solid var(--border); padding: 1rem; z-index: 9999; text-align: center;">
    <span>{{ i18n "cookie_text" | default "We use data to measure network coherence." }}</span>
    <div style="margin-top: 10px;">
        <a id="cookie-notice-accept" style="cursor: pointer; color: #73baf0; margin: 0 15px; font-weight: bold;">{{ i18n "cookie_accept" | default "Accept" }}</a>
        <a id="cookie-notice-deny" style="cursor: pointer; color: var(--secondary); margin: 0 15px;">{{ i18n "cookie_deny" | default "Deny" }}</a>
    </div>
</div>

<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    if(readCookie('cookie-notice-option') == 'true') {
        // LOAD GOOGLE ANALYTICS HERE
        var script = document.createElement('script');
        script.async = true;
        script.src = 'https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}';
        document.head.appendChild(script);

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.googleAnalytics }}');

    } else if (readCookie('cookie-notice-option') != 'false'){
        document.getElementById('cookie-notice').style.display = 'block';
    }

    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-option','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

    document.getElementById('cookie-notice-deny').addEventListener("click",function() {
        createCookie('cookie-notice-option','false',31);
        document.getElementById('cookie-notice').style.display = 'none';
    });
</script>